<h1> <%= @event.name %> </h1>

<div class='event-details left'>
	<h5> <b> Date: </b> <%= format_date(@event) %> </h5>
	<h5> <b> Time: </b> <%= format_time(@event) %> </h5>
	<h5> <b> Ticket Fee: </b> Rs. <%= calculate_fee(@event, current_user) %> </h5>
</div>

<% if signed_in? %>
	<% unless @event.past? %>
		<div class="event-action right">
			<% unless current_user.events.include?(@event) %>
				<%= button_to "Attend Event", add_user_event_path(@event, :user_id => current_user.id), :method => :put, :class => 'btn btn-primary' %>
			<% else %>
				<%= button_to "Unattend Event", remove_user_event_path(@event, :user_id => current_user.id), :method => :delete, :class => 'btn btn-primary' %>
			<% end %>
		</div>
	<% end %>
<% end %>

<div class='clear-both'>
<div class="well">
	<b>Guests:</b>
	<% unless @event.users.empty? %>
		<% @event.users.each do |user| %>
			<ul>
				<li> <%= user.name %> - <%= user.gender %> </li>
			</ul>
		<% end %>
	<% else %>
			<p> There are no guests yet! </p>
	<% end %>
</div>